* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(35, 80, 80);
  color: #fff;
}

.coin-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  color: #fff;
}

.coin-search {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
}

.coin-title {
  margin-bottom: 30px;
  text-align: center;
  color: rgb(206, 187, 78);
}

.coin-input {
  text-align: center;
  padding-left: 16px;
  width: 500px;
  height: 50px;
  border-radius: 5px;
  margin-bottom: 30px;
  background-image: linear-gradient(
    -250deg,
    #3CB371 0%,
    #2E8B57 50%,
    #006400 100%
  );
  color: #fff;
}

.coin-input::placeholder {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.450);
}

.coin-balance {
  width: 500px;
  padding: 13px;
  text-align: center;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: rgb(226, 73, 73);
  color: #fff;
  text-decoration: none;
}
